{% extends 'bootstrap/base.html' %}


{% block styles %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="https://kit.fontawesome.com/76bec3ae94.js" crossorigin="anonymous"></script>
{% endblock %}


{% block title %}The CW{% endblock %}


{% block content %}
<!-- HEADER -->
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="title" style="font-size: 50px;">Espresso Express</h1>
        <h2>ATL</h2>
    </div>
</div>


<!-- FILTERS -->
<div class="text-center page-body">
    <form method="post">
                <div class="row no-gutters">
                    <button type="submit" name="wifi" class="btn btn-warning {{wifi_pressed}}">
                        <i class="fa fa-fw fa-wifi"></i>
                        <br>
                        <span title="Stable Wi-Fi">
                        Wi-Fi
                        </span>
                    </button>
                    <button type="submit" name="sockets" class="btn btn-warning {{sockets_pressed}}">
                        <i class="fa fa-fw fa-plug"></i>
                        <br>
                        <span title="Power sockets">
                        Charging
                        </span>
                    </button>
                    <button type="submit" name="food" class="btn btn-warning {{food_pressed}}">
                        <i class="fa fa-fw fa-utensils"></i>
                        <br>
                        <span title="Food">
                        Food
                        </span>
                    </button>
                    <button type="submit" name="outdoor" class="btn btn-warning {{outdoor_pressed}}">
                        <i class="fa fa-fw fa-tree"></i>
                        <br>
                        <span title="Outdoor area">
                        Outdoor
                        </span>
                        </button>
                    <button type="submit" name="restroom" class="btn btn-warning {{restroom_pressed}}">
                        <i class="fa fa-fw fa-toilet-paper"></i>
                        <br>
                        <span title="Restroom">
                        Restroom
                        </span>
                    </button>
                    <button type="submit" name="pets" class="btn btn-warning {{pets_pressed}}">
                        <i class="fa fa-fw fa-dog"></i>
                        <br>
                        <span title="Pet friendly">
                        Pets
                        </span>
                    </button>
                    <button type="submit" name="parking" class="btn btn-warning {{parking_pressed}}">
                        <i class="fa fa-fw fa-car"></i>
                        <br>
                        <span title="Parking">
                        Parking
                        </span>
                    </button>
        </div>
    </form>
</div>


<!-- LIST OF CAFES -->
<div class="results">
    <div id="atlCafes" class="col-lg-6 col-xs-12">
        <div class="list">
            {% for cafe in cafes %}
                    <div class="container">
                    <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <img class="card-img" alt="{{ cafe.name }}" src="{{ cafe.img_url }}">
                    </div>
                    <div class="col-lg-4 col-xs-6 card-desc">
                        <a href="{{ cafe.cafe_url }}" target="_blank">
                            <h4>{{ cafe.name }}</h4>
                        </a>
                        <p>
                            <i class="fa fa-location-arrow"></i>
                            {{ cafe.location }}
                        </p>
                        <p>
                           <i class="fa fa-clock-o"></i>
                           {{ cafe.hours }}
                        </p>
                        <p>
                           <i class="fa fa-star"></i>
                           {{ cafe.rating }}
                        </p>
                    </div>
                    </div>
                    </div>
            {% endfor %}
        </div>
    </div>

    <!-- MAP -->
    <div class="col-lg-6 col-xs-12">
        <iframe src="https://www.google.com/maps/d/embed?mid=1N7qOMJz4vKO_lIZAYCqKhSWZLR3uuZY&ehbc=2E312F" width="600" height="700"></iframe>
    </div>
</div>
{% endblock %}
