{% extends 'bootstrap/base.html' %}


{% block styles %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="https://kit.fontawesome.com/76bec3ae94.js" crossorigin="anonymous"></script>
{% endblock %}


{% block title %}The CW{% endblock %}


{% block content %}
<!-- HEADER -->
<div class="jumbotron text-center">
    <div class="container">
        <h1 style="font-size: 50px;" class="display-4">☕️Coffee & WiFi 💻</h1>
    </div>
</div>


<!-- FILTERS -->
<div class="text-center">
    <form method="post">
                <div class="row no-gutters">
                    <button type="submit" name="wifi" class="btn btn-warning {{wifi_pressed}}">
                        <i class="fa fa-fw fa-wifi"></i>
                        <br>
                        <span title="Stable Wi-Fi">
                        Wi-Fi
                        </span>
                    </button>
                    <button type="submit" name="sockets" class="btn btn-warning {{sockets_pressed}}">
                        <i class="fa fa-fw fa-plug"></i>
                        <br>
                        <span title="Power sockets">
                        Charging
                        </span>
                    </button>
                    <button type="submit" name="food" class="btn btn-warning {{food_pressed}}">
                        <i class="fa fa-fw fa-utensils"></i>
                        <br>
                        <span title="Food">
                        Food
                        </span>
                    </button>
                    <button type="submit" name="outdoor" class="btn btn-warning {{outdoor_pressed}}">
                        <i class="fa fa-fw fa-tree"></i>
                        <br>
                        <span title="Outdoor area">
                        Outdoor
                        </span>
                        </button>
                    <button type="submit" name="restroom" class="btn btn-warning {{restroom_pressed}}">
                        <i class="fa fa-fw fa-toilet-paper"></i>
                        <br>
                        <span title="Restroom">
                        Restroom
                        </span>
                    </button>
                    <button type="submit" name="pets" class="btn btn-warning {{pets_pressed}}">
                        <i class="fa fa-fw fa-dog"></i>
                        <br>
                        <span title="Pet friendly">
                        Pets
                        </span>
                    </button>
                    <button type="submit" name="parking" class="btn btn-warning {{parking_pressed}}">
                        <i class="fa fa-fw fa-car"></i>
                        <br>
                        <span title="Parking">
                        Parking
                        </span>
                    </button>
        </div>
    </form>
</div>


<!-- LIST OF CAFES -->
<div class="results">
    <div id="atlCafes" class="col-md-6 col-sm-6">
        <h2>Atlanta</h2>
        <p>The best work and study-friendly cafes in Atlanta. Find venues with free and reliable Wi-Fi hotspots, ample power sockets, and complimentary parking.</p>
        <h3>Your Matches</h3>
        <div class="list col-md-12 col-sm-12">
            {% for cafe in cafes %}
                <a href="{{ cafe.cafe_url }}" target="_blank">
                    <div class="container">
                    <div class="row">
                    <div class="col-md-2">
                        <img class="card-img" alt="{{ cafe.name }}" src="{{ cafe.img_url }}">
                    </div>
                    <div class="col-md-3 card-desc">
                        <h4>{{ cafe.name }}</h4>
                        <p>
                            <i class="fa fa-location-arrow"></i>
                            {{ cafe.location }}
                        </p>
                        <p>
                           <i class="fa fa-clock-o"></i>
                           {{ cafe.hours }}
                        </p>
                    </div>
                    </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- MAP -->
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/d/embed?mid=1N7qOMJz4vKO_lIZAYCqKhSWZLR3uuZY&ehbc=2E312F" width="650" height="700"></iframe>
    </div>
</div>
{% endblock %}
